{% extends "layout_basic.html" %}
{% block body %}

<h1>404 Page Not Found</h1>

<p style="line-height: 2em">
    One of our links returns 404? <br>
    <b>Again</b>?<br>
    Ok I have had enough, lets decide who of these two morons looses his job:
</p>

<style>
    .dev {
        height: 320px;
        object-fit: cover;
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        filter: grayscale(0%);
    }

    .dev:hover {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        filter: grayscale(100%);
    }
</style>

<div class="mb-5 mt-4" style="display: flex;">
    <a href="mailto:it@spaceteam.at?subject=Fire Florian Freitag (because 404)" class="w-50">
        <img src="/static/dev1.jpg" alt="" class="dev w-100">
    </a>
    <a href="mailto:it@spaceteam.at?subject=Fire Paul Hoeller (because 404)" class="w-50">
        <img src="/static/dev2.jpg" alt="" class="dev w-100">
    </a>
</div>
<!-- <p>
    If you think this page should exist,
    please <a href="https://ticket.tust.ft/open.php">write a ticket</a>
    and tell us how you landed here.
</p>

-->
<a href="{{url_for('home')}}" class="btn btn-primary w-100">Show merci and return</a>

{% endblock %}