{% extends "layout.html" %}
{% block body %}
<h1>Admin</h1>

<p>
<h3>Contact export</h3>
<strong>Note:</strong> These dates are inclusive. <br>
This means they start at 00:00 and end at 23:59.
<form action="{{url_for('contacts_csv')}}" method="get" class="row g-3 mt-2">
    <div class="col-md-6">
        <label for="startDate" class="form-label">Start</label>
        <input type="date" class="form-control" id="startDate" name="startDate" onchange="changeListener()">
    </div>
    <div class="col-md-6">
        <label for="endDate" class="form-label">End</label>
        <input type="date" class="form-control" id="endDate" name="endDate" onchange="changeListener()">
    </div>
    <div class="col-12 text-danger" id="error" hidden>
    </div>
    <div class="col-12">
        <button class="btn btn-primary" id="export" disabled onclick="">Export CSV</button>
    </div>
</form>
</p>

<script>
    const startEl = document.getElementById("startDate");
    const endEl = document.getElementById("endDate");
    const exportEl = document.getElementById("export");
    const errorEl = document.getElementById("error");

    function changeListener() {
        if (startEl.valueAsDate == null || endEl.valueAsDate == null) {
            errorEl.hidden = true;
            exportEl.disabled = true;
            return;
        }

        if (startEl.valueAsDate > endEl.valueAsDate) {
            errorEl.innerText = "The end date must be after the start date.";
            errorEl.hidden = false;
            exportEl.disabled = true;
            return;
        }

        errorEl.innerText = "";
        errorEl.hidden = true;
        exportEl.disabled = false;
    }
</script>

<p>
<h3 class="mt-5">Smart contact export</h3>
<form action="{{url_for('smart_contacts_csv')}}" method="get" class="row g-3 mt-2">
    <div class="col-md-4">
        <label for="smartEndDate" class="form-label">Start</label>
        <input type="date" class="form-control" id="smartStartDate" name="startDate" onchange="smartChangeListener()">
    </div>
    <div class="col-md-8">
        <label for="infectedId" class="form-label">Infected Person</label>
        <select id="infectedId" name="infectedId" class="form-select" aria-label="Default select example"
            onchange="smartChangeListener()">
            <option value="" selected>Select person</option>
            {% for user in users%}
            <option value="{{user.id}}">{{user.full_name()}}</option>
            {% endfor %}
        </select>
    </div>


    <div class="col-12">
        <button class=" btn btn-primary" id="smartExport" disabled onclick="">Export CSV</button>
    </div>
</form>
</p>

<script>
    const infectedEl = document.getElementById("infectedId");
    const smartStartEl = document.getElementById("smartStartDate");
    const smartExportEl = document.getElementById("smartExport");

    function smartChangeListener() {
        if (infectedEl.value == "" || smartStartEl.valueAsDate == null) {
            smartExportEl.disabled = true;
            return;
        }
        smartExportEl.disabled = false;
    }
</script>



<h3 class="mt-5">Check ins per hour</h3>
See when people check in.
<div>
    <canvas id="myChart"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

    const checkins = {{ checkins_per_hour | tojson }};
    const data = {
        labels: checkins["labels"],
        datasets: [{
            label: 'Check ins',
            backgroundColor: '#2da44e',
            borderColor: '#2da44e',
            cubicInterpolationMode: 'monotone',
            data: checkins["data"]
        }]
    };

    const config = {
        type: 'line',
        data: data,
        options: {}
    };

    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );
</script>
<p>

<h3 class="mt-5">Monthly visits</h3>
See which months are the most active ones.
<div>
    <canvas id="monthChart"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    function drawMonthChart() {
        const monthly_visits = {{ monthly_visits | tojson
    }};
    //const monthly_visits = { "labels": ["01-1970", "02-1970"], "data": [222, 128] };
    const data = {
        labels: monthly_visits["labels"],
        datasets: [{
            label: 'Monthly visits',
            backgroundColor: '#2da44e',
            borderColor: '#2da44e',
            cubicInterpolationMode: 'monotone',
            data: monthly_visits["data"]
        }]
    };

    const config = {
        type: 'bar',
        data: data,
        options: {}
    };

    const monthChart = new Chart(
        document.getElementById('monthChart'),
        config
    );
    }
    drawMonthChart();
</script>

<h3 class="mt-5">Most frequent users</h3>
Show how often the most frequent users checked in.
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Visits</th>
        </tr>
    </thead>
    <tbody>
        {% for (num, user) in most_frequent_users %}
        <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{user.full_name()}}</td>
            <td>{{num}}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3 class="mt-5">Info for nerds</h3>
The server thinks it is: {{now}}
</p>


{% endblock %}