{% extends "layout.html" %}
{% block body %}
<h1>Certificates</h1>
At the moment you can only upload png images of QR codes.
PDF and live scan will come soon.

<form action="/cert" method="post" enctype="multipart/form-data" class="mb-5">
    <div class="mb-3">
        <input class="form-control" type="file" name="file" id="file">
    </div>
    <input class="btn btn-primary" type=submit value=Upload>
</form>

{% if certificates %}
<h2>Uploaded certificates</h2>
<ul>
    {% for certificate in certificates %}
    <li><strong>{{certificate.date}}</strong> {{certificate.product}}, {{certificate.manufacturer}}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}