{% extends "layout.html" %}
{% block body %}
<h1>Certificates</h1>
You can only upload images of QR codes or PDFs.

<form action="/cert" method="post" enctype="multipart/form-data" class="mb-5">
    <div class="mb-3 mt-2">
        <input class="form-control" type="file" name="file" id="file" onchange="enableForm()">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="checkStorage" onchange="enableForm()">
        <label class="form-check-label" for="exampleCheck1">I agree that my vaccination certificate will be stored on
            Space Team servers until it expires.</label>
    </div>
    <input class="btn btn-primary w-100" type=submit id="submit" value=Upload disabled>
</form>

<script>
    const fileEl = document.getElementById("file");
    const checkEl = document.getElementById("checkStorage");
    const submitEl = document.getElementById("submit");
    function enableForm() {
        if (checkEl.checked && fileEl.files.length != 0) {
            submitEl.disabled = false;
        } else {
            submitEl.disabled = true;
        }
    }
</script>

{% if certificates %}
<h2>Uploaded certificates</h2>
<ul>
    {% for certificate in certificates %}
    <li><strong>{{certificate.date}}</strong> {{certificate.product}}, {{certificate.manufacturer}}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}