{% extends "layout.html" %}
{% block body %}
<h1>Statistic</h1>
<p>
    <strong>{{total_users}}</strong> members are already using this tool, and
    checked in <strong>{{total_visits}}</strong> times.
</p>

<h3>Currently in the HQ ({{active_visits}})</h3>
{% if user is none %}
🔒 <i>Only logged in users can see the names.</i>
{% else %}
{% if active_users|length > 0%}
<table class="table">
    <thead>
        <tr>
            <td>#</td>
            <td>First Name</td>
            <td>Last Name</td>
        </tr>
    </thead>
    <tbody>
        {% for first, last in active_users -%}
        <tr>
            <td>
                {{loop.index}}
            </td>
            <td>{{first}}</td>
            <td>{{last}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%else%}
<i>There is nobody to see.</i>
{% endif %}
{% endif %}
{% endblock %}