{% extends "layout.html" %}
{% block body %}

{% if not visit %}
<h1>Check in for today</h1>
{% if joke is none%}
Hi {{user.name}},<br>
to enter the HQ you need to register for contact-tracing.
{% else %}
{{joke}}
{% endif %}
<form action="{{ url_for('home') }}" method="post">
    <button type="submit" class="btn btn-primary w-100 mt-3">Enter HQ</button>
</form>
{% else %}
<h1>Checked in 👍</h1>
{{user.name}}, you are registered till: <strong>{{visit_deadline.strftime('%H:%M %A (%Y-%m-%d)')}}</strong>
<br>
{% endif %}

{% endblock %}